* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  p, h1, h2, h3, h4 {
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  
  body {
    background-color: rgb(49, 203, 206);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .wrapper {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
  }
  
  .absolute,
  .platypus-wrapper div:not(.leg) {
    position: absolute;
  }
  
  .platypus-wrapper,
  .platypus-wrapper div {
    width: calc(var(--w) * 2px);
    height: calc(var(--h) * 2px);
    background-size: calc(var(--w) * 2px) calc(var(--h) * 2px) !important; 
    background-repeat: no-repeat !important;
    image-rendering: pixelated;
  }
  
  .flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .platypus-wrapper {
    transition: 3s ease;
    --oval: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAUCAYAAAB8gkaAAAAAAXNSR0IArs4c6QAAAHFJREFUSEtjZCAAHFTF/xNSA5M/cPslIz61WCVJsQCX4dgsRrGMGpagW45sKdwyWliEHrxgy2hpEbKF9LWMHr6C+Y5x1DJiMzbeTD0ajEMvGIdvCQKLC1qmSljJPzBVDHJqo4YvCVae2JI3KRYTahYAAEKjO+0fJvd3AAAAAElFTkSuQmCC);
  }
  
  .head {
    background-image: var(--oval);
    transition: 1s;
  }
  
  .eyes-wrapper,
  .eyes {
    --w: 27;
  }
  
  .eyes-wrapper {
    --h: 6;
    top: 8px;
  }
  
  .eyes {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAADCAYAAABiUXSjAAAAAXNSR0IArs4c6QAAACBJREFUKFNjZMAC/v///5+RkZERmxwxYrj0YzVwWFgGAFhWGARPxBgqAAAAAElFTkSuQmCC);
    --h: 3;
    transition: 0.4s;
  }
  
  .beak,
  .beak-marker {
    --w: 15;
    --h: 9;
  }
  
  .beak {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAAAAXNSR0IArs4c6QAAAEBJREFUKFNjZEADjqVT/6OLwfj7u7MZkeXgHHya0A2DGQLWTIpGZFcwkqMRZsAAaqbIzzD3k+J3lNBGjgpS4hkA/Eke6GdrhXYAAAAASUVORK5CYII=);
    transition: 0.7s;
    z-index: 1;
  }
  
  .platypus-wrapper,
  .platypus-body,
  .platypus-body-marker,
  .head,
  .head-marker,
  .tail-wrapper {
    --w: 27;
    --h: 20;
  }
  
  .platypus-body {
    background-image: var(--oval);
    transition: 0.5s;
  }
  
  .legs {
    display: flex;
    justify-content: space-between;
    --w: 27;
    --h: 8;
    z-index: -2;
    bottom: -10px;
    padding: 0 3px;
  }
  
  .leg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAAAXNSR0IArs4c6QAAADNJREFUKFNjZIACx9Kp/2FsGL2/O5sRxAYTIEBQETYFyKYx4lMAU0hvRTCfwbwLciM6GwCYkCExoGXR0AAAAABJRU5ErkJggg==);
    --w: 9;
    --h: 8;
    transform-origin: top center;
  }
  
  .head .leg:nth-child(1),
  .leg:nth-child(2) {
    animation: swim-1 infinite ease-in-out 3s;
  }
  
  .head .leg:nth-child(2),
  .leg:nth-child(1) {
    animation: swim-2 infinite ease-in-out 3s;
  }
  
  .head .leg.swim,
  .leg.swim {
    animation-duration: 0.5s;
  }
  
  @keyframes swim-1 {
    0%, 100% {
      transform: rotate(-25deg);
      margin-top: 5px;
    }
    50% {
      transform: rotate(25deg);
      margin-top: 0px;
    }
  } 
  
  @keyframes swim-2 {
    0%, 100% {
      transform: rotate(25deg);
      margin-top: 5px;
    }
    50% {
      transform: rotate(-25deg);
      margin-top: 0px;
    }
  } 
  
  .tail-wrapper {
    transition: 1.5s ease;
    z-index: -1;
  }
  
  .tail {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAVCAYAAACg/AXsAAAAAXNSR0IArs4c6QAAAGtJREFUOE9jZMACHFTF/2MTB4kduP2SEV0ORQCfZnSNyIbBDSHFAJiBMIPAhpBjALJB1DGEElfAXMM4aghGOhxuYTJ4UiwsqMlJdCgZkFwvYRhCqkFYyxNSvIVeumEUdcSEDUFDCHkLWxkLAKLwP+4zWBf2AAAAAElFTkSuQmCC);
    --w: 17;
    --h: 21;
    margin-top: -15px;
  }
  
  .marker {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -5px;
    z-index: 100;
  }
  
  .red { 
    background-color: rgb(223, 74, 41); 
  }
  .blue { 
    background-color: rgb(140, 238, 250); 
  }
  
  .d-none {
    display: none;
  }
  
  .sign {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    text-transform: none;
  }
  
  a {
    color: white;
    text-decoration: none;
    text-transform: none;
  }
  
  a:hover { text-decoration: underline; }
  
  .indicator {
    width: 200px;
    color: white;
    bottom: 20px;
    left: 20px;
  }